<h1>Listing users</h1>


<table>
 <tr>
  <th>firstname</th>
  <th>secondname</th>
  <th>email</th>
 </tr>
<tr>
<td><%=@user.firstname%></td>
<td><%=@user.secondname%></td>
<td><%=@user.email%></td>
</tr>
</table>
